.quienSoy{
    background-color: rgb(250, 250, 250);
    padding: 10px;
    margin: 390px 5px 5px 5px;
}

.card{
    padding: 10px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.quienItem{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.quienItem:hover{
    background-color: aliceblue;
}

.icono{
    margin: 5px;
    padding: 5px;
}

.icono:hover{
    color: red;
}

.form-control{
    padding: 5px;
    margin: 5px;
}

.form-control > input{
    width: 100%;
}
