<div class="container educacion">
    <div class="card row">
        <h4>
            <u>Educación</u>

            <button type="button" class="btn btn-primary" onclick="obtenerTexto()">
                Editar
            </button>        
        
        </h4>
            <table class="table" >
                <tbody>
                    <tr *ngFor="let edu of dataObjetList"> 
                        <td>De {{edu.start}} a {{edu.end}}
                            <br>
                            <img [src]="edu.logo" 
                                alt="" width="40px" height="40px">
                        </td>
                        <td><b>{{edu.titulo}}</b><br>
                            <a [href]="edu.link" target="_blanck">
                                <em>{{edu.academia}}</em>
                            </a>
                            <p>{{edu.descripcion}}</p>
                        </td>
                    </tr>  
                </tbody>
            </table>
    </div>
</div>
