<div class="container educacion">
    <div class="row">
        <div class="col">
            <h4><u>Educación</u></h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                            <td>02/2019 - Actualidad</td>
                            <td><b>Analista en Computación</b><br>
                                <a href="https://www.exa.unrc.edu.ar/analistaencomputacion/" target="_blanck"><em>Universidad Nacional de Rio Cuarto</em></a><br>
                                Cursando actualmente 2º año de la carrera, con 6
                                materias rendidas, un promedio de 8.67 (sin aplazos) y de 7 (con aplazos)
                            </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                            <td>2022 - 2023</td>
                            <td><b>Full Stack Developer Jr.</b><br>
                                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blanck"><em>Beca Argentina Programa</em></a>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
