<div class="container idiomas">
    <button id="edit-idioma" class="btn edit-p" onclick="editText('texto-esp','p-text')">
        <img src="https://w7.pngwing.com/pngs/994/388/png-transparent-computer-icons-editing-font-awesome-graphics-editor-advertising-angle-text-logo.png"
        alt="">
    </button>
    <input type="text" id="texto-esp" class="input-texto" value="" style="display:none">
    
    <div class="row">
        <div class="col">
            <h4><u>Idiomas</u></h4>
            <ul>
                <li>Español</li>
                <li>Inglés (Intermedio)</li>
            </ul>
        </div>
    </div>
</div>
