<div class="container idiomas">   
    <div class="row">
        <div class="card col">
            <h4>
                <u>Idiomas</u>
            
                <button id="edit-idioma" class="btn btn-primary" onclick="editText('texto-esp','p-text')">
                    Editar
                </button>
            
                <input type="text" id="texto-esp" class="input-texto" value="" style="display:none">
            
            </h4>
            <ul>
                <li>Español</li>
                <li>Inglés (Intermedio)</li>
            </ul>
        </div>
    </div>
</div>
