<div class="container espect">
                      
    <button type="button" class="btn edit-p" onclick="obtenerTexto()">
        <img src="https://w7.pngwing.com/pngs/994/388/png-transparent-computer-icons-editing-font-awesome-graphics-editor-advertising-angle-text-logo.png"
                            alt="">
    </button>

    <div class="row">
        <div class="col">
            <h4><u>Espectativas</u></h4>
            <p id="parrafo-esp">Como futuro Analísta en Computación espero poder adquirir experiencia
                en el ámbito laboral informático, para seguir enriqueciendome en el uso 
                y aplicación de los distintos lenguajes de programación. 
                A la par de poder trabajar en proyectos ambiciosos junto
                a un buen equipo de personas.
            </p>
        </div>
        <input id="texto-espectativa" oninput="cambiarTexto(this.value,'parrafo-esp')" type="text" style="display:none">
    </div>
</div>
