<div class="card datos">                        
    <h4>   
        <u>Datos Personales</u>
        
        <button type="button" class="btn btn-primary btn-edit">
            Editar
        </button>
    </h4>          
                
    <p><b>Nombre: </b>{{dataObjeto.datosPersonales.nombre}}</p>
    <p><b>Edad: </b>{{dataObjeto.datosPersonales.edad}}</p>
    <p><b>Título: </b>{{dataObjeto.datosPersonales.titulo}}</p>
    <p><b>E-mail: </b>{{dataObjeto.datosPersonales.e_mail}}</p>
    <p><b>Teléfono: </b>{{dataObjeto.datosPersonales.telefono}}</p>
    <p><b>Ciudad: </b>{{dataObjeto.datosPersonales.ciudad}}</p>
                
    <input type="text" id="texto-datos" class="input-texto" value="" style="display:none">
</div>
