
.datos{
    padding: 10px;
    margin: 400px 5px 5px 5px;
    text-align: left;
    float: left;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h4{
    margin-right: 100px;
}

.datos .card p{
    margin: 2px;
    padding: 4px;
}

#texto-datos{
    top: 750px; left: 400px;
    /*visibility: hidden;*/
}