<div class="card datos">                        
    <header>   
        <h4><u>Datos Personales</u></h4>
        
        <button type="button" class="btn btn-primary btn-edit">
            Editar
        </button>
        
    </header>          
                
    <p><b>Nombre: </b>{{nombre}}</p>
    <p><b>Edad: </b>{{edad}}</p>
    <p><b>Título: </b>{{titulo}}</p>
    <p><b>E-mail: </b>{{email}}</p>
    <p><b>Teléfono: </b>{{telefono}}</p>
    <p><b>Ciudad: </b>{{ciudad}}</p>
                
</div>
