<div class="container exp">
    <div class="row">
        <div class="col">
            <h4><u>Experiencia Laboral</u></h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>De 04/2017 a
                            04/2019<br>
                            <em>(Rio Cuarto)</em>
                        </td>
                        <td><b>Roberto Dilena & Cia</b><br>
                            <em>Receptor y Emisor de Carta Porte</em><br>
                            <u>Tareas realizadas:</u> Mi experiencia laboral es muy
                            acotada, fue en una empresa familiar en la que
                            me encargaba de gestionar documentos que les
                            permitia a los choferes cargar y descargar grano.
                            Ganando un poco de experiencia en atención al
                            cliente y en uso de excel.
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>
