<div class="container experiencia">
    <div class="row">
        <div class="card col">
            <h4>
                <u>Experiencia Laboral</u>
            
                <button type="button" class="btn btn-primary" onclick="obtenerTexto()">
                    Editar
                </button>
            </h4>
            <table class="table" *ngFor="let exp of dataObjetoLista">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>De {{exp.start}} a {{exp.end}}
                            <p>
                                <em>{{exp.ciudad}}</em>
                            </p>
                        </td>
                        <td>
                            <p>
                                <b>{{exp.empresa}}</b>
                            </p>
                            <p>
                                <em>{{exp.cargo}}</em>
                            </p>
                            <p><u>Tareas realizadas:</u>
                                {{exp.tarea}}
                            </p>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>
