<div class="container comp-expect">
        <div class="card">
            <h4>
                <u>Expectativas</u>
            
                <button id="edit" class="btn btn-primary" (click)="toggle()">
                    Editar
                </button>
            </h4>
            <div class="expect">
                <p id="parrafo-expect">
                    {{dataObjet.expectativas}} 
                </p>

                <fa-icon class="icono" *ngIf="showForm"
                    [icon]="faXmark"
                    
                >
                </fa-icon> 
            
            </div>
        </div>

        <form *ngIf="showForm">
            <div class="form-control">
                <input 
                    type="text" 
                    id="textArea" 
                    placeholder="Edite el contenido"
                    [(ngModel)]="textArea"
                >      
            </div>

            <input type="submit" value="Guardar" class="btn btn-secondary">
        </form>
</div>
