<div class="container habilidades2">
    <div class="row">
        <h4><u>Habilidades Blandas</u></h4>
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody class="table-success">
                    <tr>
                        <td>Ética</td>
                        <td>Normas, valores y principios que
                            regulan el correcto actuar mi
                            persona a lo largo de mi vida y carrera
                            profesional.</td>
                    </tr>
                    <tr>
                        <td>Empatía</td>
                        <td>Ponerme en el lugar de los demás y ser
                            solidario.</td>
                    </tr>
                    <tr>
                        <td>Trabajo en Equipo</td>
                        <td>Capacidad para entender que uno
                            forma parte de algo mayor y que en la medida que
                            los esfuerzos de los distintos actores se
                            conjugan existe una mayor probabilidad
                            de éxito en el logro de los objetivos que
                            se han planteado como grupo.</td>
                    </tr>
                    <tr>
                        <td>Adaptación al Cambio</td>
                        <td>Sé que vivimos en un mundo
                            dinámico y en permanente evolución, lo
                            que me obliga a ser flexible para adecuarme
                            a las nuevas circunstancias y los
                            cambios de escenarios que tienen lugar.</td>
                    </tr>
                    <tr>
                        <td>Capacidad para Resolver Problemas</td>
                        <td>Desarrollar soluciones que ayuden
                            a superar las dificultades que se
                            presenten y en donde todos saquen
                            experiencias y se beneficien en materia
                            de aprendizaje.</td>
                    </tr>
                    <tr>
                        <td>Respeto de las Opiniones</td>
                        <td>Tolerar los puntos de vista diferentes
                            y que cada persona tiene derecho a pensar
                            diferente.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

