<div class="container blandas">
    <div class="card row">
        <h4>
            <u>Habilidades Blandas</u>
        
            <button type="button" class="btn btn-primary btn-edit" onclick="">
                Editar
            </button>
            
        </h4>
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">{{dataObjetList.titulo1}}</th>
                        <th scope="col">{{dataObjetList.titulo2}}</th>
                    </tr>
                </thead>
                <tbody class="table-success" *ngFor="let skil of dataObjetList.skills">
                    <tr>
                        <td>{{skil.nombre}}</td>
                        <td>{{skil.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

