<div class="container habilidades">
    <div class="row">
        <h4><u>Habilidades Duras</u></h4>
        <div class="col-md-3 col-sm-6" style="background-color: rgb(90, 89, 89); margin: 2%; padding: 1%;">
            <div class="progreso c">
                <span class="progreso-left">
                    <span class="progreso-barra"></span>
                </span>
                <span class="progreso-right">
                    <span class="progreso-barra"></span>
                </span>
                <div class="progreso-value">C</div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6" style="background-color: rgb(90, 89, 89); margin: 2%; padding: 1%;">
            <div class="progreso html">
                <span class="progreso-left">
                    <span class="progreso-barra"></span>
                </span>
                <span class="progreso-right">
                    <span class="progreso-barra"></span>
                </span>
                <div class="progreso-value">HTML</div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6" style="background-color: rgb(90, 89, 89); margin: 2%; padding: 1%;">
            <div class="progreso css">
                <span class="progreso-left">
                    <span class="progreso-barra"></span>
                </span>
                <span class="progreso-right">
                    <span class="progreso-barra"></span>
                </span>
                <div class="progreso-value">CSS</div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6" style="background-color: rgb(90, 89, 89); margin: 2%; padding: 1%;">
            <div class="progreso javascript">
                <span class="progreso-left">
                    <span class="progreso-barra"></span>
                </span>
                <span class="progreso-right">
                    <span class="progreso-barra"></span>
                </span>
                <div class="progreso-value">JavaScript</div>
            </div>
        </div>
    <!-- //Vieja Barra de Progreso//
        <div class="col">
            <ul>
                <li>C</li><progress max="100" value="80">80%</progress>
                <li>HTML</li><progress max="100" value="50">50%</progress>
                <li>CSS</li><progress max="100" value="50">50%</progress>
                <li>JavaScript</li><progress max="100" value="50">50%</progress>
            </ul>
        </div>
    -->
    </div>
</div>
