.barra{
    background-color: grey;
    margin: 0px;
    width: 100%;
}

.nombre_beca{
    color: black;
}

.redes{
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.redes a {
    padding: 5px;
}

.redes a img{
    border-radius: 50%;
}

.redes button{
    margin-left: 20px;
}

.banner{
    margin: 0px;
}

#img-banner{
    margin: 0px;
    width: 100%;
    border: 5px solid rgb(2, 105, 109);
    position: absolute;
    z-index: 0;
}

.btn-banner{
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    position: relative;
    float: right;
    z-index: 1;
}

.btn-banner img{
    width: 25px; 
    height: 25px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}

#input-banner{
    position: relative;
    left: 500px;
    top: 200px;
}

#texto-banner{
    top: 150px; left: 400px;
    /*visibility: hidden;*/
}
