body{
    margin: 0px;
    background-image: url("https://w0.peakpx.com/wallpaper/718/217/HD-wallpaper-winter-snow-snow-winter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}







